/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

/* ///////////////////////////// */
/* navbar section */
/* ///////////////////////////// */

header {
  background-color: #4a1cfe;
  color: #fff;
  display: flex;
  height: 50vh;
}

.navbar-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: min-content;
  width: 100%;
}

.logo {
  /* height: fit-content; */
  width: fit-content;
}

.logo img {
  order: -1;
  padding: 3rem 5rem;
}

nav {
  order: 1;
  padding: 3rem 5rem;
  margin-left: auto;
  height: max-content;
}

nav a {
  margin: 0 2rem;
}

.ham-menu {
  display: none;
}

nav .nav-item-active {
  padding: 7px 5px;
  background: #fff;
  color: #4a1cfe;
  border-radius: 7px;
}

.hero-right {
  position: relative;
}

.header-text {
  /* order: 2; */
  height: fit-content;
  position: absolute;
  left: 0;
  top: 15vh;
  margin: 3rem 0 0 5rem;
}

.header-text h2 {
  margin: 2rem 0;
}

.header-image {
  height: fit-content;
  position: absolute;
  right: 0;
  top: 15vh;
  margin-left: 5rem;
  display: flex;
  justify-content: end;
}

.companies {
  margin-left: 7rem;
  margin-top: 1rem;
}

.company-items {
  font-size: 16px;
  font-weight: 900;
  color: #000;
  margin: 0 1rem;
}

/* api section */

.api {
  margin: 3rem 5rem;
  height: 45vh;
}

.api-heading {
  font-size: 26px;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.card-active {
  border-radius: 10px;
  box-shadow: 2px 6px 10px 8px rgba(0, 0, 0, 0.2);
  margin-right: 2rem;
}

.card,
.card-active {
  width: 100%;
  padding: 2rem;
}

.card-head,
.card-head-active {
  font-size: 18px;
  padding: 6px 0;
}

.card-head-active {
  color: #5a31fc;
}

.card-body {
  margin-top: 8px;
  font-size: 12px;
  color: #5a5a5a;
}

/* /////////////////////////// */
/* section - 2 */
/* /////////////////////////// */

.blog-heading {
  margin-left: 5rem;
  font-size: 14px;
}

.blog-cards {
  display: flex;
  margin: 1rem 0 0 5rem;
  height: 30vh;
}

.blog-card {
  display: flex;
  justify-content: space-between;
  margin-right: 5rem;
  box-shadow: 2px 6px 10px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50px 10px 10px 10px;
  flex-basis: 50%;
}

/* .blog-image img {
  width: 100%;
} */

.author {
  display: flex;
}

div.blog-author {
  order: 1;
  padding-left: 16px;
  padding-top: 16px;
  margin-left: 16px;
  font-size: 10px;
  width: fit-content;
}

.blog-bottom {
  order: 2;
  padding: 20px 0 0 16px;
}

.blog-content {
  order: 3;
  padding: 16px 30px;
  margin-top: 20px;
}

.blog-content h6 {
  font-size: 10px;
}
.blog-content h3 {
  font-size: 18px;
  margin: 16px 0;
}
.blog-content > small {
  /* width: 50%; */
  font-size: 12px;
}

/* /////////////////////////// */
/* FAQ SECTION  */
/* /////////////////////////// */

.faq-section {
  display: flex;
  margin-top: 2rem;
  background-color: #e9edff;
  height: 35vh;
}

.faq-content {
  margin: 2rem 5rem;
}

.faq-content h2 {
  font-size: 26px;
}

.faq-content h4 {
  font-size: 15px;
  margin-top: 18px;
}

.faq-content button {
  width: 180px;
  background-color: #5a31fc;
  color: #fff;
  margin-top: 18px;
  padding: 8px 26px;
  border: none;
  border-radius: 6px;
}

.faq-image {
  margin-left: auto;
  padding-right: 10rem;
}

.faq-image img {
  /* height: 330px; */
  width: 620px;
}

/* ////////////////////////// */
/* download section */
/* ////////////////////////// */

.download-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  margin: auto 5rem;
}

.download-content h1 {
  font-size: 40px;
}

.download-content span {
  font-size: 30px;
}

.download-email {
  border: 1px solid #000;
  width: 30rem;
  display: flex;
  justify-content: flex-end;
  border-radius: 30px;
  background-color: #e9edff;
  /* height: ; */
}

.download-email input {
  padding: 10px;
  border: none;
  outline: none;
  background: none;
}

.download-email button {
  margin: 5px;
  padding: 10px 35px;
  border: 1px solid #000;
  border-radius: 20px;
  background-color: #5a31fc;
  color: #fff;
}

/* /////////////////////////// */
/* footer section */
/* /////////////////////////// */

.footer-section {
  background-color: #3c0afe;
  color: #fff;
  padding: 3rem 5rem;
  display: flex;
  justify-content: space-between;
  /* list-style: none; */
}

.list {
  list-style: none;
  display: flex;
  /* justify-content: space-between; */
}

.list .list-items {
  padding: 1rem 1rem 0 0;
}

.footer-logos {
  padding: 1rem;
}

.logos-list {
  list-style: none;
  display: flex;
}

.logos-list .list-items {
  padding: 0 1rem;
}

/* /////////////////////////////////////////// */

@media (max-width: 1500px) and (min-width: 1200px) {
  .blog-cards {
    flex-direction: column;
  }

  .faq-section {
    margin-top: 400px;
  }
}

@media (max-width: 1200px) and (min-width: 976px) {
  nav {
    padding: 3rem 5rem 3rem 0;
  }

  nav a {
    margin: 0 1rem;
  }

  /*  */
  .blog-content {
    padding: 20px;
  }

  .blog-cards {
    flex-direction: column;
  }

  .faq-section {
    margin-top: 400px;
  }

  .faq-image img {
    width: 400px;
    height: 100%;
  }
}

@media (max-width: 976px) and (min-width: 480px) {
  nav {
    padding: 3rem 5rem 3rem 0;
    display: flex;
  }

  nav a {
    display: none;
  }

  .ham-menu {
    display: block;
    width: 30px;
    margin-left: 16px;
  }

  .search-icon {
    width: 20px;
  }

  .header-right {
    display: none;
  }

  .header-image img {
    width: 70%;
  }

  /*  */
  .blog-heading {
    margin-top: 450px;
  }
  .blog-content {
    padding: 20px;
  }

  .blog-cards {
    flex-direction: column;
  }

  .blog-card {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .faq-image img {
    width: 400px;
    height: 100%;
  }
  /*  */
  .hero {
    display: flex;
    flex-direction: column;
    height: max-content;
  }

  .cards {
    flex-wrap: wrap;
  }
  .card {
    max-width: 200px;
  }

  .faq-section {
    margin-top: 900px;
  }

  .faq-image {
    display: none;
  }

  .download-section {
    flex-direction: column;
    margin-bottom: 100px;
  }

  .footer-section {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 480px) {
  nav {
    padding: 20px;
    display: flex;
  }

  nav a {
    display: none;
  }

  .logo img {
    padding: 0;
    margin-left: 10px;
  }

  .ham-menu {
    display: block;
    width: 30px;
    margin-left: 16px;
  }

  .search-icon {
    width: 20px;
  }

  .header-text {
    margin: 20px;
  }

  .header-right {
    display: none;
  }

  .header-image img {
    width: 70%;
  }

  .companies {
    margin: 20px;
  }

  /*  */
  .blog-image {
    width: 100%;
  }

  .blog-image img {
    width: 100%;
  }

  .blog-heading {
    margin-top: 950px;
  }

  .blog-content {
    padding: 20px;
  }

  .blog-cards {
    flex-direction: column;
  }

  .blog-card {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .faq-section {
    margin-top: 1030px;
  }

  .faq-content {
    margin: 20px;
  }

  .faq-image img {
    width: 400px;
    height: 100%;
  }
  /*  */
  .hero {
    display: flex;
    flex-direction: column;
    height: max-content;
  }

  .cards {
    flex-wrap: wrap;
  }
  .card {
    max-width: 200px;
  }

  .faq-image {
    display: none;
  }

  .download-section {
    margin: 20px;
  }

  .download-email {
    width: 400px;
    justify-content: space-between;
  }
  .download-email form {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .download-email input {
    width: 250px;
  }

  .download-email input {
    width: 150px;
  }

  .download-section {
    flex-direction: column;
    margin-bottom: 100px;
  }

  .footer-section {
    flex-direction: column;
    align-items: center;
  }
}
